<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wechatapi.discover.mapper.WxDiscoverContentMapper">
    
    <resultMap type="com.ruoyi.wechatapi.discover.domain.WxDiscoverContent" id="WxDiscoverContentResult">
        <result property="contentId"    column="content_id"    />
        <result property="contentUserOpenid"    column="content_user_openid"    />
        <result property="contentText"    column="content_text"    />
        <result property="contentVideo"    column="content_video"    />
        <result property="createTime"    column="create_time"    />
        <result property="contentLabel"    column="content_label"    />
        <result property="contentType"    column="content_type"    />
        <result property="contentImages"    column="content_images"    />
        <result property="contentCity"      column="content_city" />
        <result property="contentPosition"   column="content_position" />
        <association property="wxChatUserInfo" javaType="com.ruoyi.wechatapi.wxchat.domain.WxChatUserInfo">
            <result property="creatorName"    column="wx_name"    />
            <result property="creatorAvatar"    column="wx_avatar"    />
        </association>
        <association property="wxDiscoverStatistics" javaType="com.ruoyi.wechatapi.discover.domain.WxDiscoverStatistics">
            <result property="statisticsLookNum" column="statistics_look_num"/>
            <result property="statisticsGoodNum" column="statistics_good_num"/>
            <result property="statisticsCommentNum" column="statistics_comment_num"/>
        </association>
        <collection property="wxDiscoverGood" ofType="com.ruoyi.wechatapi.discover.domain.WxDiscoverGood">
            <result property="goodUserOpenid" column="good_user_openid"/>
            <result property="status" column="status"/>
            <result property="goodType" column="good_type"/>
        </collection>
    </resultMap>

    <sql id="selectWxDiscoverContentVo">
        select d.content_id, d.content_user_openid, d.content_text, d.content_video, d.create_time, d.content_label, d.content_type, d.content_images,
        d.content_city,d.content_position,u.wx_name, u.wx_avatar,s.statistics_look_num, s.statistics_good_num, s.statistics_comment_num, g.good_user_openid, g.status, g.good_type
        from wx_discover_content d
        left join wx_user u on d.content_user_openid = u.wx_openid
        left join wx_discover_statistics s on d.content_id = s.content_id
        left join wx_discover_good g on d.content_id = g.good_type_id
    </sql>

    <select id="selectWxDiscoverContentList" parameterType="com.ruoyi.wechatapi.discover.domain.WxDiscoverContent" resultMap="WxDiscoverContentResult">
        <include refid="selectWxDiscoverContentVo"/>
        <where>
            <if test="contentCity != null  and contentCity != ''"> and content_city = #{contentCity}</if>
        </where>
        order by d.content_id desc
    </select>

    <select id="selectWxDiscoverContentPage" parameterType="com.ruoyi.wechatapi.discover.domain.WxDiscoverContent" resultType="java.lang.Integer">
        select count(0) from wx_discover_content
        <where>
            <if test="contentCity != null  and contentCity != ''"> and content_city = #{contentCity}</if>
        </where>
    </select>

    <select id="selectWxDiscoverContentListByOpenid" parameterType="String" resultMap="WxDiscoverContentResult">
        <include refid="selectWxDiscoverContentVo"/>
        <where>
            <if test="Array.length!=0"> and d.content_user_openid in</if>
        </where>
        <foreach collection="Array" item="careOpenid" index="index" open="(" close=")" separator=",">
            <if test="Array.length!=0">#{careOpenid}</if>
        </foreach>
        order by d.content_id desc
    </select>

    <select id="selectWxDiscoverContentPageByOpenid" parameterType="String" resultType="java.lang.Integer">
        select count(0) from wx_discover_content
        <where>
            <if test="Array.length!=0"> and content_user_openid in</if>
        </where>
        <foreach collection="Array" item="careOpenid" index="index" open="(" close=")" separator=",">
            <if test="Array.length!=0">#{careOpenid}</if>
        </foreach>
    </select>

    <select id="selectWxDiscoverContentById" parameterType="Long" resultMap="WxDiscoverContentResult">
        <include refid="selectWxDiscoverContentVo"/>
        where content_id = #{contentId}
    </select>
        
    <insert id="insertWxDiscoverContent" parameterType="com.ruoyi.wechatapi.discover.domain.WxDiscoverContent" useGeneratedKeys="true" keyProperty="contentId">
        insert into wx_discover_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contentUserOpenid != null  and contentUserOpenid != ''">content_user_openid,</if>
            <if test="contentText != null  and contentText != ''">content_text,</if>
            <if test="contentVideo != null  and contentVideo != ''">content_video,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="contentLabel != null  and contentLabel != ''">content_label,</if>
            <if test="contentType != null  and contentType != ''">content_type,</if>
            <if test="contentImages != null  and contentImages != ''">content_images,</if>
            <if test="contentCity !=null and contentCity!=''">content_city,</if>
            <if test="contentPosition !=null and contentPosition!=''">content_position,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contentUserOpenid != null  and contentUserOpenid != ''">#{contentUserOpenid},</if>
            <if test="contentText != null  and contentText != ''">#{contentText},</if>
            <if test="contentVideo != null  and contentVideo != ''">#{contentVideo},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="contentLabel != null  and contentLabel != ''">#{contentLabel},</if>
            <if test="contentType != null  and contentType != ''">#{contentType},</if>
            <if test="contentImages != null  and contentImages != ''">#{contentImages},</if>
            <if test="contentCity !=null and contentCity!=''">#{contentCity},</if>
            <if test="contentPosition !=null and contentPosition!=''">#{contentPosition},</if>
         </trim>
    </insert>

    <update id="updateWxDiscoverContent" parameterType="com.ruoyi.wechatapi.discover.domain.WxDiscoverContent">
        update wx_discover_content
        <trim prefix="SET" suffixOverrides=",">
            <if test="contentUserOpenid != null  and contentUserOpenid != ''">content_user_openid = #{contentUserOpenid},</if>
            <if test="contentText != null  and contentText != ''">content_text = #{contentText},</if>
            <if test="contentVideo != null  and contentVideo != ''">content_video = #{contentVideo},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="contentLabel != null  and contentLabel != ''">content_label = #{contentLabel},</if>
            <if test="contentType != null  and contentType != ''">content_type = #{contentType},</if>
            <if test="contentImages != null  and contentImages != ''">content_images = #{contentImages},</if>
        </trim>
        where content_id = #{contentId}
    </update>

    <delete id="deleteWxDiscoverContentById" parameterType="Long">
        delete from wx_discover_content where content_id = #{contentId}
    </delete>

    <delete id="deleteWxDiscoverContentByIds" parameterType="String">
        delete from wx_discover_content where content_id in 
        <foreach item="contentId" collection="array" open="(" separator="," close=")">
            #{contentId}
        </foreach>
    </delete>
    
</mapper>