<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wechatapi.discover.mapper.WxDiscoverReplyMapper">
    
    <resultMap type="com.ruoyi.wechatapi.discover.domain.WxDiscoverReply" id="WxDiscoverReplyResult">
        <result property="replyId"    column="reply_id"    />
        <result property="commentId"    column="comment_id"    />
        <result property="replyText"    column="reply_text"    />
        <result property="fromOpenid"    column="from_openid"    />
        <result property="toOpenid"    column="to_openid"    />
        <result property="createTime"    column="create_time"    />
        <result property="contentId"    column="content_id"    />
        <result property="reply2"    column="reply2"    />
        <result property="reply3"    column="reply3"    />
        <association property="wxChatUserInfo" javaType="com.ruoyi.wechatapi.wxchat.domain.WxChatUserInfo" resultMap="WxChatUserInfoResult"/>
    </resultMap>

    <resultMap id="WxChatUserInfoResult" type="com.ruoyi.wechatapi.wxchat.domain.WxChatUserInfo">
        <result property="creatorName"    column="wx_name"    />
        <result property="creatorAvatar"    column="wx_avatar"    />
    </resultMap>

    <sql id="selectWxDiscoverReplyVo">
        select d.reply_id, d.comment_id, d.reply_text, d.from_openid, d.to_openid, d.create_time, d.content_id, d.reply2, d.reply3,u.wx_name, u.wx_avatar
        from wx_discover_reply d
        left join wx_user u on d.from_openid = u.wx_openid
    </sql>

    <select id="selectWxDiscoverReplyList" parameterType="com.ruoyi.wechatapi.discover.domain.WxDiscoverReply" resultMap="WxDiscoverReplyResult">
        <include refid="selectWxDiscoverReplyVo"/>
        <where>
            <if test="commentId != null "> and comment_id = #{commentId}</if>
            <if test="replyText != null  and replyText != ''"> and reply_text = #{replyText}</if>
            <if test="fromOpenid != null  and fromOpenid != ''"> and from_openid = #{fromOpenid}</if>
            <if test="toOpenid != null  and toOpenid != ''"> and to_openid = #{toOpenid}</if>
            <if test="contentId != null  and contentId != ''"> and content_id = #{contentId}</if>
            <if test="reply2 != null  and reply2 != ''"> and reply2 = #{reply2}</if>
            <if test="reply3 != null  and reply3 != ''"> and reply3 = #{reply3}</if>
        </where>
    </select>

    <select id="selectWxDiscoverReplyById" parameterType="Long" resultMap="WxDiscoverReplyResult">
        <include refid="selectWxDiscoverReplyVo"/>
        where comment_id = #{commentId} order by d.reply_id desc
    </select>

    <select id="selectWxDiscoverReplyByCId" parameterType="Long" resultType="Long">
       select content_id from wx_discover_reply
        where reply_id = #{replyId}
    </select>

    <insert id="insertWxDiscoverReply" parameterType="com.ruoyi.wechatapi.discover.domain.WxDiscoverReply" useGeneratedKeys="true" keyProperty="replyId">
        insert into wx_discover_reply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commentId != null ">comment_id,</if>
            <if test="replyText != null  and replyText != ''">reply_text,</if>
            <if test="fromOpenid != null  and fromOpenid != ''">from_openid,</if>
            <if test="toOpenid != null  and toOpenid != ''">to_openid,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="contentId != null  and contentId != ''">content_id,</if>
            <if test="reply2 != null  and reply2 != ''">reply2,</if>
            <if test="reply3 != null  and reply3 != ''">reply3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commentId != null ">#{commentId},</if>
            <if test="replyText != null  and replyText != ''">#{replyText},</if>
            <if test="fromOpenid != null  and fromOpenid != ''">#{fromOpenid},</if>
            <if test="toOpenid != null  and toOpenid != ''">#{toOpenid},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="contentId != null  and contentId != ''">#{contentId},</if>
            <if test="reply2 != null  and reply2 != ''">#{reply2},</if>
            <if test="reply3 != null  and reply3 != ''">#{reply3},</if>
         </trim>
    </insert>

    <update id="updateWxDiscoverReply" parameterType="com.ruoyi.wechatapi.discover.domain.WxDiscoverReply">
        update wx_discover_reply
        <trim prefix="SET" suffixOverrides=",">
            <if test="commentId != null ">comment_id = #{commentId},</if>
            <if test="replyText != null  and replyText != ''">reply_text = #{replyText},</if>
            <if test="fromOpenid != null  and fromOpenid != ''">from_openid = #{fromOpenid},</if>
            <if test="toOpenid != null  and toOpenid != ''">to_openid = #{toOpenid},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="contentId != null  and contentId != ''">content_id = #{contentId},</if>
            <if test="reply2 != null  and reply2 != ''">reply2 = #{reply2},</if>
            <if test="reply3 != null  and reply3 != ''">reply3 = #{reply3},</if>
        </trim>
        where reply_id = #{replyId}
    </update>

    <delete id="deleteWxDiscoverReplyById" parameterType="Long">
        delete from wx_discover_reply where reply_id = #{replyId}
    </delete>

    <delete id="deleteWxDiscoverReplyByIds" parameterType="String">
        delete from wx_discover_reply where reply_id in 
        <foreach item="replyId" collection="array" open="(" separator="," close=")">
            #{replyId}
        </foreach>
    </delete>
    
</mapper>