<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.websocket.mapper.WebSocketMapper">
    
    <resultMap type="com.ruoyi.websocket.domain.WebSocketMessage" id="WebSocketResult">
        <result property="newsId"    column="news_id"    />
        <result property="newsUserOpenid"    column="news_user_openid"    />
        <result property="newsContent"    column="news_content"    />
        <result property="newsImage"     column="news_image"     />
        <result property="createTime"    column="create_time"    />
        <result property="newsRoomId"    column="news_room_id"    />
        <result property="newsType"     column="news_type"/>
        <association property="wxChatUserInfo" javaType="com.ruoyi.wechatapi.wxchat.domain.WxChatUserInfo">
            <result property="creatorName"    column="wx_name"    />
            <result property="creatorAvatar"    column="wx_avatar"    />
        </association>
    </resultMap>

    <sql id="selectWebSocketVo">
        select n.news_id, n.news_user_openid, n.news_content,n.news_image, n.create_time, n.news_type, n.news_room_id,u.wx_name, u.wx_avatar from wx_chat_news n inner join wx_user u on  n.news_user_openid = u.wx_openid
    </sql>


    <select id="selectWebSocketList" parameterType="com.ruoyi.websocket.domain.WebSocketMessage" resultMap="WebSocketResult">
        <include refid="selectWebSocketVo"/>
        <where>
            <if test="newsUserOpenid != null  and newsUserOpenid != ''"> and news_user_openid = #{newsUserOpenid}</if>
            <if test="newsContent != null  and newsContent != ''"> and news_content = #{newsContent}</if>
            <if test="newsType != null  and newsType != ''"> and news_type = #{newsType}</if>
            <if test="newsRoomId != null "> and news_room_id = #{newsRoomId}</if>
        </where>
    </select>

    <select id="selectWebSocketByRoomId" parameterType="Long" resultMap="WebSocketResult">
        <include refid="selectWebSocketVo"/>
        where news_room_id = #{newsRoomId}
    </select>
        
    <insert id="insertWebSocket" parameterType="com.ruoyi.websocket.domain.WebSocketMessage" useGeneratedKeys="true" keyProperty="newsId">
        insert into wx_chat_news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="newsUserOpenid != null  and newsUserOpenid != ''">news_user_openid,</if>
            <if test="newsContent != null  and newsContent != ''">news_content,</if>
            <if test="newsImage != null  and newsImage != ''">news_image,</if>
            <if test="newsType != null  and newsType != ''">news_type,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="newsRoomId != null ">news_room_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="newsUserOpenid != null  and newsUserOpenid != ''">#{newsUserOpenid},</if>
            <if test="newsContent != null  and newsContent != ''">#{newsContent},</if>
            <if test="newsImage != null  and newsImage != ''">#{newsImage},</if>
            <if test="newsType != null  and newsType != ''">#{newsType},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="newsRoomId != null ">#{newsRoomId},</if>
         </trim>
    </insert>

    <update id="updateWebSocket" parameterType="com.ruoyi.websocket.domain.WebSocketMessage">
        update wx_chat_news
        <trim prefix="SET" suffixOverrides=",">
            <if test="newsUserOpenid != null  and newsUserOpenid != ''">news_user_openid = #{newsUserOpenid},</if>
            <if test="newsContent != null  and newsContent != ''">news_content = #{newsContent},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="newsRoomId != null ">news_room_id = #{newsRoomId},</if>
        </trim>
        where news_id = #{newsId}
    </update>

    <delete id="deleteWebSocketById" parameterType="Long">
        delete from wx_chat_news where news_id = #{newsId}
    </delete>

    <delete id="deleteWebSocketByIds" parameterType="String">
        delete from wx_chat_news where news_id in 
        <foreach item="newsId" collection="array" open="(" separator="," close=")">
            #{newsId}
        </foreach>
    </delete>
    
</mapper>