<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wechatapi.wxchat.mapper.WxUserApiMapper">
    
    <resultMap type="com.ruoyi.wechatapi.wxchat.domain.WxUserApi" id="WxUserApiResult">
        <result property="wxOpenid"    column="wx_openid"    />
        <result property="wxName"    column="wx_name"    />
        <result property="wxAvatar"    column="wx_avatar"    />
        <result property="phonenumber"    column="phonenumber"    />
        <result property="wxSex"    column="wx_sex"    />
        <result property="status"    column="status"    />
        <result property="wxLevel"    column="wx_level"    />
        <result property="wxIdCard"    column="wx_idCard"    />
        <result property="wxStuCard"    column="wx_stuCard"    />
        <result property="wxVip"     column="wx_vip" />
    </resultMap>

    <sql id="selectWxUserApiVo">
        select wx_openid, wx_name, wx_avatar, phonenumber, status, wx_idCard, wx_stuCard, wx_level, wx_vip from wx_user
    </sql>

    <select id="selectWxUserApiList" parameterType="com.ruoyi.wechatapi.wxchat.domain.WxUserApi" resultMap="WxUserApiResult">
        <include refid="selectWxUserApiVo"/>
        <where>  
            <if test="wxOpenid != null  and wxOpenid != ''"> and wx_openid = #{wxOpenid}</if>
        </where>
    </select>
    
    <select id="selectWxUserApiById" parameterType="String" resultType="java.lang.Integer">
        select 1 from wx_user
        where wx_openid = #{wxOpenid}
    </select>
        
    <insert id="insertWxUserApi" parameterType="com.ruoyi.wechatapi.wxchat.domain.WxUserApi">
        insert into wx_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wxOpenid != null  and wxOpenid != ''">wx_openid,</if>
            <if test="wxName != null  and wxName != ''">wx_name,</if>
            <if test="wxAvatar != null  and wxAvatar != ''">wx_avatar,</if>
            <if test="phonenumber != null  and phonenumber != ''">phonenumber,</if>
            <if test="wxSex != null ">wx_sex,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="wxLevel != null ">wx_level,</if>
            <if test="wxIdCard != null ">wx_idcard,</if>
            <if test="wxStuCard != null ">wx_stuCard,</if>
            <if test="wxVip != null ">wx_vip,</if>
            <if test="createTime != null ">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wxOpenid != null  and wxOpenid != ''">#{wxOpenid},</if>
            <if test="wxName != null  and wxName != ''">#{wxName},</if>
            <if test="wxAvatar != null  and wxAvatar != ''">#{wxAvatar},</if>
            <if test="phonenumber != null  and phonenumber != ''">#{phonenumber},</if>
            <if test="wxSex != null ">#{wxSex},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="wxLevel != null ">#{wxLevel},</if>
            <if test="wxIdCard != null ">#{wxIdCard},</if>
            <if test="wxStuCard != null ">#{wxStuCard},</if>
            <if test="wxVip != null ">#{wxVip},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateWxUserApi" parameterType="com.ruoyi.wechatapi.wxchat.domain.WxUserApi">
        update wx_user
       <set>
            <if test="wxName != null  and wxName != ''">wx_name = #{wxName},</if>
            <if test="wxAvatar != null  and wxAvatar != ''">wx_avatar = #{wxAvatar},</if>
            <if test="phonenumber != null  and phonenumber != ''">phonenumber = #{phonenumber},</if>
            <if test="wxSex != null  and wxSex != ''">wx_sex = #{wxSex},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="loginTime != null ">login_time = #{loginTime},</if>
            update_time = sysdate()
       </set>
        where wx_openid = #{wxOpenid}
    </update>

    <update id="updateWxUserOnlineApi" parameterType="com.ruoyi.wechatapi.wxchat.domain.WxUserApi">
        update wx_user
        <set>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="loginTime != null ">login_time = #{loginTime},</if>
        </set>
        where wx_openid = #{wxOpenid}
    </update>

    <delete id="deleteWxUserApiById" parameterType="String">
        delete from wx_user where wx_openid = #{wxOpenid}
    </delete>

    <delete id="deleteWxUserApiByIds" parameterType="String">
        delete from wx_user where wx_openid in 
        <foreach item="wxOpenid" collection="array" open="(" separator="," close=")">
            #{wxOpenid}
        </foreach>
    </delete>
    
</mapper>