<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('微信用户列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>用户昵称：</label>
                                <input type="text" name="wxName"/>
                            </li>
                            <li>
                                <label>性别：</label>
                                <select name="wxSex" th:with="type=${@dict.getType('wx_user_sex')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>在线状态：</label>
                                <select name="status" th:with="type=${@dict.getType('wx_user_line')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>用户权限等级：</label>
                                <select name="wxLevel"  th:with="type=${@dict.getType('wx_access_level')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>用户vip权限：</label>
                                <select name="wxVip"  th:with="type=${@dict.getType('wx_user_vip')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>用户学生身份：</label>
                                <select name="wxCard"  th:with="type=${@dict.getType('wx_user_card')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>用户身份证：</label>
                                <select name="wxCard"  th:with="type=${@dict.getType('wx_user_card')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>最后登录时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                        name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                       name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="premission:wechat:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="premission:wechat:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="premission:wechat:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="premission:wechat:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('premission:wechat:edit')}]];
        var removeFlag = [[${@permission.hasPermi('premission:wechat:remove')}]];
        var prefix = ctx + "premission/wechat";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "微信用户",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'wxOpenid', 
                    title: '微信用户标识'
                },
                {
                    field: 'wxName', 
                    title: '用户昵称'
                },
                {
                    field: 'phonenumber', 
                    title: '手机号'
                },
                {
                    field: 'wxSex', 
                    title: '性别',
                    formatter: function(value, row, index) {
                        if (value == 0) {
                            return '未知';
                        } else if (value == 1) {
                            return '男';
                        } else if(value ==2){
                            return '女';
                        }
                    }
                },
                {
                    field: 'status', 
                    title: '在线状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        if (value == 'on_line') {
                            return '<span class="badge badge-primary">在线</span>';
                        } else if (value == 'off_line') {
                            return '<span class="badge badge-danger">离线</span>';
                        }
                    }
                },
                {
                    field: 'wxLevel', 
                    title: '用户权限等级',
                    align: 'center',
                },
                {
                    field: 'wxIdCard',
                    title: '学生身份',
                    align: 'center',
                    formatter: function(value, row, index) {
                        if (value == 0) {
                            return '<span class="badge badge-warning">未认证</span>';
                        } else if (value == 1) {
                            return '<span class="badge badge-info">真实认证</span>';
                        } else if(value ==2){
                            return '<span class="badge badge-info">学生认证</span>';
                        }
                    }

                },
                    {
                        field: 'wxStuCard',
                        title: '用户身份证',
                        align: 'center',
                        formatter: function(value, row, index) {
                            if (value == 0) {
                                return '<span class="badge badge-warning">未认证</span>';
                            } else if (value == 1) {
                                return '<span class="badge badge-info">真实认证</span>';
                            } else if(value ==2){
                                return '<span class="badge badge-info">学生认证</span>';
                            }
                        }

                    },
                {
                    field: 'wxVip',
                    title: 'vip权限',
                    align: 'center',
                    formatter: function(value, row, index) {
                        if (value == 0) {
                            return '<span class="badge badge-warning">No vip</span>';
                        } else if (value == 1) {
                            return '<span class="badge badge-info">vip</span>';
                        }
                    }
                },
                {
                    field: 'loginTime', 
                    title: '最后登录时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.wxOpenid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.wxOpenid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>